DESERT_buildCopy*
*.kdev4
***/.unpacked_folder
DESERT_Addons/DESERT_Addons
DESERT_Framework/patches/
documents/doxygen/desert_doc_1/
*.conf
*.log
*.out
*.csv
.vscode*
MODEM_log_*
***/Makefile.in
***/aclocal.m4
***/ar-lib
***/autom4te.cache/
***/compile
***/config.guess
***/config.sub
***/configure
***/depcomp
***/install-sh
***/ltmain.sh
***/m4/Makefile.in
***/m4/libtool.m4
***/m4/ltoptions.m4
***/m4/ltsugar.m4
***/m4/ltversion.m4
***/m4/lt~obsolete.m4
***/missing
***/*.tr
***/test-driver
***/.clang-format
***/configure~
.DS_Store
